.filterBar {
  display: flex;
  justify-content: flex-start;  // Вирівнювання кнопок по горизонталі
  align-items: center;  // Вирівнювання кнопок по вертикалі (якщо потрібно)
  gap: 10px;  // Відстань між кнопками
  flex-wrap: wrap;  // Якщо місця не вистачить, кнопки переносяться на новий рядок
}

.resetButton {
  margin-left: auto;  // Переміщає кнопку скидання вправо
}
