.bikeCard {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #F3F4F6;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
  margin: 10px;

  &__content {
    display: flex;
    justify-content: space-between; /* Розміщення двох частин по боках */
    align-items: center;
    width: 100%; /* Розтягуємо по всій ширині */
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 1; /* Даємо лівій частині займати всю доступну ширину */
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__title {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin: 0;
    width: 100%; /* Назва займає всю ширину */
    white-space: nowrap; /* Запобігає переносу тексту на новий рядок */
    overflow: hidden; /* При потребі приховує текст, що виходить за межі */
    text-overflow: ellipsis; /* Додає "..." для довгих назв */
  }

  &__category, &__location {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #6B7280;
    margin: 0;
  }

  &__price {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    margin-top: 10px;
  }

  &__footer {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
  }

  &__createdAt,
  &__retailer {
    margin: 5px 0;
  }

  /* Тема світла */
  .light &__createdAt,
  .light &__retailer {
    color: #333; /* Темніший колір для світлої теми */
  }

  /* Тема темна */
  .dark &__createdAt,
  .dark &__retailer {
    color: #ccc; /* Світліший колір для темної теми */
  }

  &__createdAt {
    font-style: italic;
  }

  &__retailer {
    font-weight: bold;
  }
}
/* BikeCard.module.scss */
.new-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.8rem;
}

